# Dataset
--dataset=coauthor-physics
--dataset_dir=./data
--epochs=10000

# Architecture
--graph_encoder_layer=256
--graph_encoder_layer=128
--predictor_hidden_size=512

# Augmentations
--drop_edge_p_1=0.4
--drop_feat_p_1=0.1
--drop_edge_p_2=0.1
--drop_feat_p_2=0.4

# Training
--lr=1e-5
--mm=0.99
--lr_warmup_epochs=1000
--weight_decay=1e-5

# Other
--logdir=./runs/coauthor-physics
--log_steps=1
--eval_epochs=250
